#img_inicio {
    width: 100%;
    margin: 0;
    display: block;
}

nav {
    background-color: #303030;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 50px;
    margin-top: 0;
    color: #F1F1F1;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 1.8rem;
}

body {
    margin: 0;
    padding: 0;
    background-color: #004aa2;
    font-family: Arial, sans-serif;
    color: white;
}

#logo {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.img-container {
    position: relative;
    display: inline-block;
    width: 100%;
}

.texto_logo {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: Arial, sans-serif;
    font-size: ;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

/* Barra de navegação */
.barra_nav {
    background-color: #0044cc;
    overflow: hidden;
    width: 100%;
    z-index: 1000;
    text-align: center;
}

/* Lista dentro da barra */
.barra_nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-flex;
    justify-content: center;
    gap: 15px;
}

/* Links */
.barra_nav a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    font-family: Arial, sans-serif;
    background-color: transparent;
    transition: background-color 0.3s;
    position: sticky;
}

/* Efeito hover */
.barra_nav a:hover {
    background-color: #003399;
    border-radius: 5px;
}

#titulo1 {
    padding-top: 5%;
    text-align: center;
}

#subtexto1 {
    font-size: 24px;
    text-align: center;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 5%;
}

.titulo2 {
    padding-left: 10%;
    padding-top: 8%;
}

.subtexto2 {
    padding-left: 10%;
}

.container_especies {
    height: 400px;
    background-color: #003399;
}

