
header {
    text-transform: uppercase;
    font-weight: 100;
    font-size: 5rem;
}
header img {
    width: 100%;
    height: auto;
}



nav {
    background-color: #003399;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
    color: #F1F1F1;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 1rem;
}

body {
    margin: 0;
    padding: 0;
    background-color: #004aa2;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
}

#poluicao {
    background-color: #0A0624;
    margin: 0;
    padding-top: 20rem;
    padding-bottom: 20rem;
}

.mapa {
    margin: 0;
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #012053;
}

.mapa img {
    width: 100%;
    height: auto;
}


a:link {
    color: #F1F1F1;
    text-decoration: none;
}
a:visited {
    color: #F1F1F1;
}
a:hover {
    color: #FF4949;
    font-weight: 400;
}
a:active {
    color: red;
}


footer {
    background-color: #003399;
    color: #F1F1F1;
    font-weight: 400;
    font-size: 1.8rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

footer .socials {
    width: 5%;
    height: auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
    fill: #F1F1F1;
}

footer .line {
    background-color: #F1F1F1;
    padding-top: 0.1rem;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 7rem;
    margin-bottom: 2rem;
}

footer .latline {
    background-color: #F1F1F1;
    height: 0.1rem;
    align-content: center;
    margin-top: 2%;
}


.animal1 {
    background-color: #012053;
    padding-top: 6rem;
    padding-bottom: 6rem;
}
.animal1 img {
    height: 25rem;
}

.animal2 {
    background-color: #003399;
    padding-top: 6rem;
    padding-bottom: 6rem;
}
.animal2 img {
    height: 25rem;
}

.animal3 {
    background-color: #004aa2;
    padding-top: 6rem;
    padding-bottom: 6rem;
}
.animal3 img {
    height: 25rem;
}

.animal4 {
    background-color: #0C2A5A;
    padding-top: 6rem;
    padding-bottom: 6rem;
}
.animal4 img {
    height: 25rem;
}