
header {
    text-transform: uppercase;
    font-weight: 100;
    font-size: 5rem;
}
header img {
    width: 100%;
    height: auto;
}



nav {
    background-color: #003399;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
    color: #F1F1F1;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 1rem;
}

body {
    margin: 0;
    padding: 0;
    background-color: #004aa2;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
}

#poluicao {
    background-color: #0A0624;
    margin: 0;
    padding-top: 20rem;
    padding-bottom: 20rem;
}

.mapa {
    margin: 0;
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #012053;
}

.mapa img {
    width: 100%;
    height: auto;
    object-fit: cover;
}


#escondido {
    position: absolute;
    width: 25%;
    margin-top: 2%;
    margin-left: 30%;
    display: block;
}

#mouse_over_europa {
    position:absolute;
    width: 40%;
    margin-left: 30%;
    display: none;
}

a:link {
    color: #F1F1F1;
    text-decoration: none;
}
a:visited {
    color: #F1F1F1;
}
a:hover {
    color: #FF4949;
    font-weight: 400;
}
a:active {
    color: red;
}


footer {
    background-color: #003399;
    color: #F1F1F1;
    font-weight: 400;
    font-size: 1.8rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

footer .socials {
    width: 5%;
    height: auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
    fill: #F1F1F1;
}

footer .line {
    background-color: #F1F1F1;
    padding-top: 0.1rem;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 7rem;
    margin-bottom: 2rem;
}

footer .latline {
    background-color: #F1F1F1;
    height: 0.1rem;
    align-content: center;
    margin-top: 2%;
}


.popUP {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border-radius: 25px;
    z-index: 10;
    background-color: #003399;
    max-width: 1000px;
    text-align: left;

    display: flex;
    align-items: center;
    justify-content: center;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black with opacity */
    padding-top: 60px;
}

/* Modal Content */
.modal-content {
    background-color: #132D55;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 1000px;
    text-align: left;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.baleiacontent {
    display: none;
}

.botao {
    outline: none;
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    margin-top: 25%;
    width: 20rem;
    height: 50%;
    background-color: #132D55;
    color: white;
    border-radius: 5px;
    font-size: 2rem;

    top: 50%;
    left: 50%;
    right: 50%;
    bottom: 50%;
}

.animal1 {
    background-color: #004aa2;
}

.animal2 {
    background-color: #012053;
}

.animal3 {
    background-color: #003399;
}

